<div class="about">
    <div class="image">

    </div>
    <div class="info">
        <h2>Poppy And Lilly's Toy Shop</h2>
        <p>Welcome to Poppy and Lilly Toy Shop, a magical haven where imagination and joy come to life! At our shop, we believe that play is the foundation of childhood, sparking creativity, learning, and cherished memories. Our carefully curated collection of toys is designed to inspire kids of all ages, from timeless classics to innovative, educational, and eco-friendly options.</p>
        <p>Named after the playful spirit of Poppy and Lilly, we aim to bring smiles to little ones and their families through high-quality, safe, and delightful toys. Whether you're searching for the perfect birthday gift, a cuddly companion, or something to ignite young minds, you’ll find it here.</p>
        <p>At Poppy and Lilly Toy Shop, we’re more than just a toy store – we’re a place where childhood dreams begin. Thank you for letting us be a part of your family’s journey!</p>
    </div>
</div>
