<div class="toys">
    <div class="container1">
       <img src="https://static.wixstatic.com/media/c837a6_1ac83abb27ae4d9992a23670b914cd74~mv2.jpg/v1/fill/w_740,h_740,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/wixagency_set_of_wood_toys_in_Blocks__Stacking_category_white_b_2601856e-473c-4c20-a1a8-09.jpg" alt="">
       <h2>Animal Toys</h2>
    </div>
    <div class="container2">
        <img src="https://static.wixstatic.com/media/c837a6_60dcd57af3a248469a5561d3cd5813c7~mv2.jpg/v1/fill/w_740,h_740,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/wixagency_set_of_wood_toys_in_Blocks__Stacking_category_white_b_2601856e-473c-4c20-a1a8-09.jpg" alt="">
        <h2>Block & Stacking</h2>

    </div>
    <div class="container3">
        <img src="https://static.wixstatic.com/media/c837a6_5ffbd4405e634f1d9bac32cdef6b1147~mv2.jpg/v1/fill/w_740,h_740,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/wixagency_set_of_wood_toys_in_Blocks__Stacking_category_white_b_2601856e-473c-4c20-a1a8-09.jpg" alt="">
        <h2>Vehicals</h2>

    </div>
    <div class="container4">
        <img src="https://static.wixstatic.com/media/c837a6_ce993b29fb564de692910962044852cb~mv2.jpg/v1/fill/w_980,h_980,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/c837a6_ce993b29fb564de692910962044852cb~mv2.jpg" alt="">
        <h2>Woolen Birds</h2>
    </div>
</div>
