<div class="offer">
    <div class="image">
       <img src="https://i.pinimg.com/736x/5b/a7/16/5ba71675653b2640d81fa758b7f8eccb.jpg" alt="">
    </div>
    <div class="text">
        <div class="circle">
            <h2>Big Offer</h2>
            <h1>!!! SALE !!!</h1>
            <h4>Upto 50% off !!</h4>
        </div>
        <p>At Poppy and Lilly Toy Shop, we love making playtime even more exciting with incredible offers and deals!</p>
        <ol>
            <li><strong>Weekly Deals:</strong> Enjoy new discounts on selected toys every week</li>
            <li><strong>Seasonal Sales:</strong> Celebrate holidays and special occasions with festive savings.</li>
            <li><strong>Bundle Offers:</strong> Save more when you buy toy sets or gift packs.</li>
            <li><strong>Exclusive Rewards: </strong> Sign up for our loyalty program to unlock member-only offers and earn points with every purchase</li>
        </ol>
    </div>
</div>
