.home{
    width: 100%;
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
    background: url('https://as2.ftcdn.net/v2/jpg/04/22/30/29/1000_F_422302911_B8bokTgoNLC2h5BqKNIscmW7BUPXELwF.jpg');
    background-repeat: no-repeat;
    background-position: start;
    background-size: cover;
    padding-top: 80px;
}
.home h1{
    color: black;
}
.home button {
    padding: 14px 45px;
    background: lightpink;
    border: 2px solid black;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    transition: all ease-in 0.4s;
}
.home button:hover {
    background: black;
    border: 2px solid black;
    color: white;
}
